{{ define "main" }}
<div class="container">
  <div class="container__row">
      <div class="container__col-12">col-12</div>
  </div>
  <div class="container__row">
      <div class="container__col-6">col-6</div>
      <div class="container__col-6">col-6</div>
  </div>
  <div class="container__row">
      <div class="container__col-4">col-4</div>
      <div class="container__col-4">col-4</div>
      <div class="container__col-4">col-4</div>
  </div>
  <div class="container__row">
      <div class="container__col-3">col-3</div>
      <div class="container__col-3">col-3</div>
      <div class="container__col-3">col-3</div>
      <div class="container__col-3">col-3</div>
  </div>
  <div class="container__row">
      <div class="container__col-2">col-2</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-2">col-2</div>
  </div>
  <div class="container__row">
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
      <div class="container__col-1">col-1</div>
  </div>
  <div class="container__row">
      <div class="container__col-1">col-1</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-6">col-6</div>
      <div class="container__col-2">col-2</div>
      <div class="container__col-1">col-1</div>
  </div>
</div>
{{ end }}